@import "bootstrap.less";

@font-family-sans-serif: 'Open Sans', sans-serif;

.agDisplayNone {
  display: none;
}

@agLoginFooterHeight: 63px;

html {
  min-height: 100%;
  position: relative;
  body {
    //< logging form
    .agWrongValue {
      border-color: red;
      border-style: solid;
    }
    .form-signin {
      max-width: 400px;
      padding: 19px 29px 29px;
      margin: 50px auto 20px;
      background-color: #fff;
      border: 1px solid #e5e5e5;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
      box-shadow: 0 1px 2px rgba(0,0,0,.05);
      text-align: center;

      button.btn {
        margin-top: 15px;
        width:300px
      }

      div.alert {
        margin: 0px auto 15px;
        width:300px
      }


      .agDoCheckValue {

      }
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
      //margin: 0px auto 15px;
    }
    .form-signin .checkbox {
      margin-left: 20px;
    }

    .g-recaptcha {
      div {
        margin: 0px auto 15px;
      }
    }

    .form-signin input[type="text"],
    .form-signin input[type="password"] {
      font-size: 16px;
      height: auto;
      width : 300px;
      //margin-bottom: 15px;
      margin: 0px auto 15px;
      padding: 7px 9px;
    }

    margin-bottom: @agLoginFooterHeight;

    div#agFooter {
      bottom: 0;
      width: 100%;
      position: absolute;
      height: @agLoginFooterHeight;
      //background-color: #f5f5f5;
      .footer-block {
        margin: 20px 0;
      }
      .alert {
        padding: 10px;
      }
    }
    // logging form >
  }
}


@media (max-width: 990px) {
  body {
    div#agContentContainer {
      display: none;
    }

    div#agWrongResolution {
      display: -webkit-flex;
      display: flex;
      width: 100%;
      height: 600px;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      background-color: lightgrey;

      div#agWrongResolutionRow {
        background-color: cornflowerblue;
        width_: 100px;
        height_: 100px;
        margin: 10px;
      }
    }
  }
}

@media (min-width: 990px) {
  body {

    div#agWrongResolution {
      display: none;
    }

    div#agContentContainer {
      padding-top: 52px; // по умолчанию высота строки меню - 50px
      min-height: 100%;
      min-width: 100%;
      background-color: yellow;

      div#agContentRow {
        background-color: yellowgreen;
        div#agLeftCol {
          background-color: lightgoldenrodyellow;

          .list-group-item {
            padding: 5px 10px;
          }

        }
        div#agRightCol {
          background-color: lightyellow;

          label.radio-inline {
            margin-top: -0.5em;
          }

          iframe#agContentFrameID {
            min-height: 600px;
            min-width: 800px;
            width: 100%;
            height: 100%;
            border: none;
          }

          div#agTestingQuest {
            .answersContainer {
              border-radius: 5px;
              margin-bottom: 5px;
              border: thin dotted;
            }

            div#agTestingAnsrsAnsText {
              height: 400px;
              //min-width: 800px;
              overflow: auto;
            }
          }
        }
      }
    }

    div#agBottomContainer {
      background-color: greenyellow;
    }
  }
}

